@page
@model JDRSportsAcademy.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}

<h1>@ViewData["Title"]</h1>

<div class="card mt-4">
    <div class="card-header">
        <h4>Student Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.FirstName)</dd>

            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.LastName)</dd>

            <dt class="col-sm-3">Date of Birth</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.DOB)</dd>

            <dt class="col-sm-3">Gender</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Gender)</dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Address)</dd>

            <dt class="col-sm-3">Contact Number</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.ContactNumber)</dd>

            <dt class="col-sm-3">Medical Information</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.MedicalInformation)</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Student.Email)</dd>
        </dl>
    </div>
</div>

@if (Model.Student.Fixtures != null && Model.Student.Fixtures.Any())
{
    <div class="card mt-4">
        <div class="card-header">
            <h4>Fixtures</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sport Title</th>
                        <th>Fixture Name</th>
                        <th>Fixture Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Student.Fixtures)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Sport.SportName)</td>
                            <td>@Html.DisplayFor(modelItem => item.FixtureName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-info mt-4">
        This student has no scheduled fixtures.
    </div>
}

<div class="mt-4">
    <a asp-page="./Edit" asp-route-id="@Model.Student.StudentID" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
