@page
@model JDRSportsAcademy.Pages.Fixtures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].FixtureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fixture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FixtureID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FixtureID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FixtureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
